<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
    <rewrite>
        <rules>
            <rule name="slim catch all" enabled="true">
                <match url=".*" />
                <action type="Rewrite" url="/index.php" />
                <conditions>
                    <add input="{URL}" pattern="/content/.*" negate="true" />
                </conditions>
            </rule>
        </rules>
    </rewrite>
</system.webServer>
</configuration>